@media screen and (min-width : 50px)
{
    .header
    {
        background-image: url('../images/barber.jpg');
        width: 100%;
        height: 250px;
        background-size: 100% 250px;
    }
    .header-cover
    {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.60);
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .header-interact
    {
        height: 140px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (min-width : 550px)
{
    .header
    {
        height: 350px;
        background-size: 100% 350px;
    }
}

@media screen and (min-width : 750px)
{
    .header
    {
        height: 400px;
        background-size: 100% 400px;
    }
}
@media screen and (min-width : 1000px)
{
    .header
    {
        background-image: url('../images/barber.jpg');
        width: 100%;
        height: 500px;
        background-size: 100% 500px;
    }
    
}